@model IEnumerable<Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryIcon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
               <i class=" @Html.DisplayFor(modelItem => item.CategoryIcon)"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
             <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning" style="color:white">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary" style="color:white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" style="color:white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready( function () {
            $('#productTable').DataTable();
        });
    </script>
}
