@model IEnumerable<Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family:Georgia, 'Times New Roman', Times, serif;
color:#15BEC4;text-align:center;font-weight:bolder;">Products</h1>

<p>
    <a class="btn btn-info "  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            
           
         
           
          
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
          
           
          
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-behance" style="color:white" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-warning" style="color:white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" style="color:white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
